{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div>
            {#<a class="btn btn-warning" href="{{ path('add_product') }}">Add product</a>#}

            <h3>Receipt list</h3>

            {#<ul>#}

                {#{% for product in products %}#}
                    {#</br>#}
                    {#Product name : {{ product.productName }} <a#}
                        {#href="{{ path('productDetails', {product_id: product.id}) }}">LINK</a>#}
                    {#<a href="{{ path('update_product', {product_id: product.id}) }}">Edit</a>#}
                    {#<a href="{{ path('delete_product', {product_id: product.id}) }}">Delete</a></br>#}
                    {#category : {{ product.category.categoryName }}<br/>#}
                    {#supplier : {{ product.supplier.supplierName }}<br/>#}
                    {#Date : {{ product.createdAtDate | date }}<br/>#}


                {#{% endfor %}#}

            {#</ul>#}
            {#from supplier details#}
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Receipt Name</th>
                    <th>Supplier</th>
                    {#<th>Category</th>#}
                    <th>CreatedAtDate</th>
                </tr>


                {% for receipt in receipts %}

                    <tr>
                        <td>
                            <a href="{{ path('receiptDetails', {receipt_id: receipt.id}) }}">{{ receipt.id }}</a>
                        </td>
                        {#<td></td>#}
                        <td>{{ receipt.receiptName}}</td>
                        <td>{{ receipt.supplier.supplierName}}</td>
                        <td>{{ receipt.createdAtDate | date }}</td>
                        {#<td><a class="btn btn-xs btn-info" href="{{ path('update_product', {product_id: product.id}) }}">Edit</a></td>#}
                        {#<td><a class="btn btn-xs  btn-danger" href="{{ path('delete_product', {product_id: product.id}) }}">Delete</a></td>#}
                        <td>
                            <a class="btn btn-xs btn-danger" href="{{ path('delete_receipt', {receipt_id: receipt.id}) }}">Delete</a></td>
                        <td>
                            {#*******************nested table*****************************#}
                            {#************************** table product by supplier ***********************************#}
                            {% set products =receipt.products %}
                            {% include 'table_products_by_supplier.html.twig' %}
                            {#************************** End table product by supplier *******************************#}
                            {#*******************End nested table*************************#}



                        </td>
                    </tr>





                {% endfor %}
            </table>

        </div>

        <strong></strong>
    </div>

{% endblock %}

{#{% block stylesheets %}#}
{#<style>#}
    {#body { background: #F5F5F5; font: 18px/1.5 sans-serif; }#}
    {#h1, h2 { line-height: 1.2; margin: 0 0 .5em; }#}
    {#h1 { font-size: 36px; }#}
    {#h2 { font-size: 21px; margin-bottom: 1em; }#}
    {#p { margin: 0 0 1em 0; }#}
    {#a { color: #0000F0; }#}
    {#a:hover { text-decoration: none; }#}
    {#code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }#}
    {##wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }#}
    {##container { padding: 2em; }#}
    {##welcome, #status { margin-bottom: 2em; }#}
    {##welcome h1 span { display: block; font-size: 75%; }#}
    {##icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }#}
    {##icon-book { display: none; }#}

    {#@media (min-width: 768px) {#}
        {##wrapper { width: 80%; margin: 2em auto; }#}
        {##icon-book { display: inline-block; }#}
        {##status a, #next a { display: block; }#}

        {#@-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }#}
        {#@keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }#}
        {#.sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}#}
    {#}#}
{#</style>#}
{#{% endblock %}#}
